*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}
 

/*----------NAVBAR--------- */
@font-face {
    font-family: 'Facebook Font Bold';
    src: url(./../fonts/klavika-bold.otf);
}


.facebook-font-logo {
    font-family: 'Facebook Font', sans-serif;
    color: #fff;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    display: none;
}

.fa-facebook-square {
    color: #fff;
    font-size: 2rem;
}

nav {
    box-sizing: border-box;
    background-color: #4267b2;
    border: solid 1px rgb(41, 72, 125);
    align-items: center;
    position: sticky;
    top: 0;
}


.nav-link {
    font-family:'Facebook Font', sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.25s;
}

.nav-link:hover {
    color: #fff;
    transform: scale(1.15);
    transition: 0.25s;
    background-color: #232E4A;
}

.nav-item .btn {
    font-family: 'Facebook Font', sans-serif;
    color: #fff;
    background-color: #334a7d;
    border: none;
    font-weight: 700;
    padding: 0.5rem;
    transition: 0.25s;
}

.nav-item .btn:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

/* -------------MAIN---------------- */

.fb-logo-svg {
    width: 50%;
    display: block;
    margin: auto;
}

h2 {
    font-family: 'Facebook Font', sans-serif;
    font-size: 2rem;
    color: #334a7d;
    font-weight: 900;
    margin-top: 3rem;
}



.div-barra{
    box-shadow: 2px 2px 5px blue;
}

.carousel h1 {
    font-weight: 100;
    margin-top: 40px;
    text-align: center;
}

hr {
    width: 200px;
    height: 3px;
    margin: auto;
    border-style: none;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 20px;
}

.carousel-inner{
    height: 500px;
    margin-top: 20px;
}



/***************SIL***************/

body {
    background: #3b5998;
    padding: 20px;
    color: black;
    font-size: 1.2rem;
}

main {
    max-width: 1000px;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;
}

/*Content1*/

.content1 {
    width: 100%;
}

.img-content1 {
    width: 100%;
    text-align: center;
    align-self: center;
}

.img-content1 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.text-content1 {
    width: 100%;
    text-align: center;
}

.text-content1 h2 {
    margin-top: 40px;
    text-align: center;
}


.text-content1 p {
    margin-top: 40px;
    color: black;
    text-align: justify;
}

/*Content2*/

.content2 {
    width: 100%;
    text-align: center;
}

.subtitle {
    margin: 1rem;
    background-color: #334a7d;
    color: #fff;
}

.content2 h3 {
    margin-top: 20px;
}

.content-details {
    width: 100%;

}

.item-details {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.icon-details {
    width: 200px;
    height: 200px;
    background-color: #bfc4dc;
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 40px;
}

.icon-details span {
    border: 1px solid #dddddd;
    border-radius: 50%;
    padding: 100px;
    margin: auto;
}

.icon-details .expansion {
background-image: url(./../images/exp5.jpg);
}

.icon-details .features {
    background-image: url(./../images/caract6.jpg);
}

.icon-details .grooming {
    background-image: url(./../images/grooming1.jpg);
}

.content-details h4 {
    font-weight: 100;
    font-size: 18px;
    margin-top: 40px;
}

.content-details p {
    font-size: 0.8rem;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 20px;
    color: black;

}

/*content3*/

.content3 {
    width: 100%;
    text-align: center;
}

.content3 h1 {
    font-weight: 100;
    margin-top: 20px;
}


.content3 p {
    margin-top: 40px;
    color: black;
}

.content-estadisticas {
    width: 100%;
    margin-top: 40px;
}

.item-estadistica {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 40px;
    color: white;
}

.item-estadistica span {
    font-size: 80px;
    color: white;
}

.item1 {
    background: #3b5998;
    border-radius: 10px 10px 0px 0px;
}

.item2 {
    background: #ff4c4c;
    
}
    
.item3 {
    background:#25d366;
    
}

.item4 {
    background: #0099e5;
}


.item5 {
    background:  #833ab4;
    border-radius: 0px 0px 10px 10px;
}

.item-estadistica h4 {
    font-weight: 100;
    margin-top: 20px;
    font-size: 20px;
}

.item-estadistica p {
    color: white;
    margin-top: 0px;
}

.parrafo-content1 {
    text-align: justify;
}


/*content4*/

.content4 {
    width: 100%;
    text-align: center;
}

.content4 h1 {
    font-weight: 100;
    margin-top: 20px;
}


.content4 p {
    margin-top: 40px;
    font-size: 20px;
}

iframe {
    width: 100%;
    height: 40vw;
}

.iframe-container {
    padding-top: 2%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .content1 {
        display: flex;
        flex-direction: row-reverse
    }

    .img-content1 {
        width: 70%;
    }

    .img-content1 img {
        float: right;
        width: 300px;
        height: 300px;
    }

    .content-details {
        display: flex;
    }

    .content-estadisticas {
        display: flex;
    }

    .content-estadisticas span {
        font-size: 40px;
    }

    .item1 {
        background: #3b5998;
        border-radius: 10px 0px 0px 10px;
    }

    .item5 {
        background: #833ab4;
        border-radius: 0px 10px 10px 0px;
    }

    .content4 {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
}

/***************FIN SIL***************/

h2 {
    text-align: center;
    margin-top: 4rem;
}

/***************LEI***************/
.aplicaciones{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.textApps {
    margin-top: 2rem;
}

.insta{
    width: 150px;
    height: 300px;
}
.twitter{
    width: 160px;
    height: 300px;
}
.whatsapp{
    width: 200px;
    height: 300px;
}
.messenger{
    width: 450px;
    height: 300px;
}
p{
    margin-left: 10px;
    font-size: 16px;
}

span{
    font-weight: 600;
}

li{
    margin: 10px;
    list-style: none;
}


footer{
    font-size: 0.5rem;
    margin-top: 3%;
    margin-bottom: 2%;
    color: #fff;
}

footer a {
    color: #fff;
    font-size: 1rem;
    transition: 0.5s;
}

footer a:hover {
    background-color: #232e4a;
    padding: 0.5rem;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}

.middleF{
    display: flex;
    justify-content: space-evenly;
}

.contenedor1{
    background: linear-gradient(to bottom, #232e4a, #232e4a);
    clip-path: polygon(0% 7%, 100% 0%, 100% 93%, 0% 100%);
    margin-bottom: 3%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contenedor1 h3 {
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
}

.fa-whatsapp-square {
    color: #fff;
    font-size: 10rem;
    text-align: center;
}

.fa-instagram-square {
    color: #fff;
    font-size: 10rem;
    text-align: center;
}

.col-sm{
    margin: 2%;
    text-align: center;
}

.iconosApps{
    width: 9.5rem;
    height: 9.5rem;
}


.costo{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #232e4a;
    background-color: #fff;
}

.infoApps{
    text-align: center;
    color: white
}

.text-apps {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.iconosApps2{
    width: 100px;
    height: 100px;
}




/***************FIN LEI***************/


/***************PABLO***************/

form {
    width: 80%;
    margin-bottom: 10rem;
}

#inputemail {
    width: 203%;
    
}

#passwordpad {
padding-left: 0px;
}

.formc {
    border: 1px solid grey;
    padding-left: 20px;
    box-shadow: 5px 5px 5px 5px #999;
    padding-bottom: 5px;
    padding-right: 20px;
    text-align: center;
    position: relative;
    left: 100px;
    top: 100px;
}

/***************FIN PABLO***************/